<h2>Add New Toy</h2>

<form action="/toys" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>Quantity: <input type="number" name="quantity"></p>
  <p>Imagem: <input type="url" name="image"></p>
  <input class="btn btn-primary" type="submit" value="Create">
  <button class="btn btn-default"><a href="/toys">Cancel</a></button>
</form>
