<!DOCTYPE html>
<html>
  <head>
    <title>Invetory</title>
    <link rel="stylesheet" href="<%= url('/css/bootstrap.css') %>" type="text/css"/>
    <link rel="stylesheet" href="<%= url('/css/bootstrap-responsive.css') %>" type="text/css"/>
    <link rel="stylesheet" href="<%= url('/app.css') %>" type="text/css"/>
  </head>
  <body>
    <div class="container">
      <h1>Toy Inventory</h1>
      <hr/>

      <%= yield %>
    </div>
  </body>
</html>
